*{
    margin:0px;
    padding:10px;
}

.fs{
    width:600px;
    background-color: #fae9fb;
    border:2px solid;
    border-radius: 10px;
}
body{
    text-align: center;
    background: none;
}
form {
    display: inline-block;
}
.label{
    padding:0px 20px;
    width:35%;
    line-height:40px;
    display: inline-block;
}
.headingtxt{
    color:#d338db;
}
.in{
    width:55%; 
}
.lin{
    text-align: left;
}
/* .submit{
    margin:50px 200px;
} */
.btncolor{
    margin:20px 40px;
    width:150px;
    border-radius: 5px;
    background-color: #d338db;
    display: inline-block;
    justify-content: space-between;
}
/* @media  (max-width:1200px) and (min-width:700px)  {
    form {
        display: inline-block;
    }
    .fs{ */
        /* width:50%; */
        /* margin:100px 400px 50px 450px; */
        /* background-color: #fae9fb;
        border:2px solid;
        border-radius: 10px;
    }
    .btncolor{
        margin:20px 40px;
        width:150px;
        border-radius: 5px;
        background-color: #d338db;
    }
    
} */